<!-- views/inventory.ejs -->
<h1>Inventory</h1>
<div class="car-list">
    <% cars.forEach(car => { %>
        <div class="car-item">
            <h2><%= car.inv_make %> <%= car.inv_model %> (<%= car.inv_year %>)</h2>
            <img src="<%= car.inv_image %>" alt="<%= car.inv_make %> <%= car.inv_model %>">
            <p><%= car.inv_description %></p>
            <p>Price: $<%= car.inv_price %></p>
            <p>Mileage: <%= car.inv_miles %> miles</p>
            <p>Color: <%= car.inv_color %></p>
        </div>
    <% }) %>
</div>